<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <!-- Bootstrap Bootswatch Style Sheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css">
    <!-- Custom CSS Stylesheet -->
    <link rel="stylesheet" href="style.css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>
        {% block title %}
        Cupcakes
        {% endblock %}
    </title>
</head>
<body>
    <div class='container'>
        {% block header %}
        
        {% endblock %}
        
        {% block content %}
        
        {% endblock %}
    </div>
<script src="/static/index.js"></script>
</body>
</html>